<div  class="timeline" #target>
  <div style="width:600px; height:30px;">
    <slider [BPos]='start' [EPos]='end' [Length]='200' (beggingEnding)="placeholder($event)"></slider>
  </div>
  <div style="width:600px; height:30px;">
    <slider [BPos]='start' [EPos]='end' [Length]='200' (beggingEnding)="placeholder($event)"></slider>
  </div>
  <!-- <div style="width:600px; height:30px;">
      <slider [BPos]='0' [EPos]='4.5' [Length]='10' (beggingEnding)="results($event)"></slider>
    </div>
    <div style="width:600px; height:30px;">
        <slider [BPos]='0' [EPos]='2' [Length]='10' (beggingEnding)="results($event)"></slider>
      </div> -->
  <!-- <hr>
  <div style="width:500px; height:20px;">
    <slider [BeginningPos]='0' [EndingPos]='300'></slider>
  </div>
  <hr>
  <div style="width:500px; height:20px;">
    <slider [BeginningPos]='0' [EndingPos]='100'></slider>
  </div> -->
  
  </div>
  <button (click)="add">Add Object</button>