<div  class="timeline" #target>
 
  <!-- <app-layer *ngFor="let practiceStuff of practiceStuffs">{{practiceStuff}}</app-layer> -->
  <!-- <app-layer *ngFor="let practiceStuff of practiceStuffs[0].comp">{{practiceStuff.number}}</app-layer> -->
  <!-- <app-layer *ngFor="let practiceStuff of playFiles.comps[0].comp">{{practiceStuff.number}}</app-layer> -->
  <div [dragula]='"bag-one"' [dragulaModel]='playFiles.comps[0].comp' >
      <div *ngFor="let playFile of playFiles.comps[0].comp" [id]="playFile.id" #hold>
       <app-layer   [layerID]="playFile.id" [playFileLoad]="playFiles" (updateAll)="playFileAllUpdate($event)" #layerID (click)="select(layerID)" (hold)="holdLayer($event)"></app-layer>
    </div>
 </div>

  <!-- <div style="width:600px; height:30px;">
    <slider [BPos]='start' [EPos]='end' [Length]='200' (beggingEnding)="placeholder($event)"></slider>
  </div>
  <div style="width:600px; height:30px;">
    <slider [BPos]='start' [EPos]='end' [Length]='200' (beggingEnding)="placeholder($event)"></slider>
  </div> -->



  <!-- <div style="width:600px; height:30px;">
      <slider [BPos]='0' [EPos]='4.5' [Length]='10' (beggingEnding)="results($event)"></slider>
    </div>
    <div style="width:600px; height:30px;">
        <slider [BPos]='0' [EPos]='2' [Length]='10' (beggingEnding)="results($event)"></slider>
      </div> -->
  <!-- <hr>
  <div style="width:500px; height:20px;">
    <slider [BeginningPos]='0' [EndingPos]='300'></slider>
  </div>
  <hr>
  <div style="width:500px; height:20px;">
    <slider [BeginningPos]='0' [EndingPos]='100'></slider>
  </div> -->
  
  </div>
