* {
    box-sizing: border-box;
}



.square {
    background-color: red;
    border-radius: 100% / 50%;
    width: 20px;
    height: 100%;
    position: absolute;
    cursor: move;
    user-select: none;
    z-index: 20;
}

