
     
      <div class="slider" #parentSlider >
          <square [howLong]="parentWidth" [position]="BeginningPos" #positionSquare (squarePos)="updatePos($event)"></square>
          <div class="between" #between></div>
          <square [howLong]="parentWidth" [position]="EndingPos" #positionSquare (squarePos)="updatePos($event)"></square>
        <!-- <div class="square" #someVar  (mouseover)="movement($event)" (mouseup)="up($event)" (mousedown)="down($event)"></div> -->
        <!-- <div class="square" #someVar2  (mouseover)="movement($event)" (mouseup)="up($event)" (mousedown)="down($event)"></div> -->
        <!-- <div class="square" #someVar2 (mousemove)="dragging($event)" (mouseover)="movement($event)" (mouseup)="up($event)" (mousedown)="down($event)"></div> -->
      </div>

      <button (click)="getUpdatedPositionsSquares()">Square Locations</button>
    