<!-- <p>
  effect works!
</p> -->
<div class="effect no-drag" >
    <div class="effectName">{{effectProps.type}}<button class="deleteButton" (click)="removeEffect()">X</button>
      <!-- <select class='moveinsel' *ngIf='effect.direction !== ""' (change)="updateSelect(selected.value)" [(ngModel)]="directionSelected" #selected>
          <option *ngFor="let option of optionSelect" [ngValue]="option">{{option}}</option>
      </select> -->
    </div>
  
  <div class="effectnamespace" [style.width]="effectLength"></div>
  <div class="effectsliderspace" [style.width]="effectLength">
      <!-- <div style="width:500px; height:30px;"> -->
          <slider [BPos]='start' [EPos]='end' [Length]='timeLengthofComp' (beggingEnding)="updateTimeEnds($event)"></slider>
          <!-- <slider [BPos]='start' [EPos]='end' [Length]='7' (beggingEnding)="updateTimeEnds($event)"></slider> -->
        <!-- </div>  -->
    <!-- <nouislider [connect]="true" [min]="min" [max]="max" [(ngModel)]="someRange"  (ngModelChange)="sliderNum($event)"></nouislider> -->
  </div>
</div>